<mat-card>
  <mat-card-title>Owner-Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let list of ownerList">
        <img mat-list-avatar src="{{list.giphyUrl}}">
        <h3 mat-line>
          <label>Car: {{list.carName}}</label>
        </h3>
        <h3 mat-line>
          <label>Owner: {{list.ownerName}}</label>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-stroked-button color="primary"  [routerLink]="['/car-list']">Go to Car List</button>
  <button mat-stroked-button color="primary"  [routerLink]="['/owner-list']" style="margin-left: 10px;">Go to Owner list</button>
</mat-card>

