<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let car of cars">
        <img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/car-edit', car.id]">{{car.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-raised-button  color="primary" [routerLink]="['/car-add']">Add New Car</button>
  <button mat-stroked-button color="primary"  [routerLink]="['/owner-list']" style="margin-left: 10px;">Go to owner list</button>
  <button mat-stroked-button color="primary"  [routerLink]="['/owner-car']" style="margin-left: 10px;">Go to Car-Owner list</button>

</mat-card>
