<mat-card>
  <mat-card-title>Owner List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor=" let owner of owners">
        <h3 mat-line>
          <mat-checkbox (change)="selectedItem(owner)">
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">{{owner.name}}</a></mat-checkbox>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/owner-add']">Add New Owner</button>
    <button mat-raised-button color="primary" (click)="remove()" type="button">Delete selected items</button>
  </mat-card-actions>
  <button mat-stroked-button color="primary"  [routerLink]="['/car-list']">Go to Car List</button>
  <button mat-stroked-button color="primary"  [routerLink]="['/owner-car']" style="margin-left: 10px;">Go to Car-Owner list</button>
</mat-card>
